<div class="foot">
    <footer class="page-footer font-small blue pt-4">
        <div class="container-fluid text-center text-md-left">
          <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
              <h5 class="text-uppercase">Portfolio Website</h5>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, perferendis?</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
            <div class="col-md-3 mb-md-0 mb-3">
              <ul class="list-unstyled foot-social">
                <li>
                  <a href="https://github.com/Subho0710">
                    <i class="fab fa-github fa-2x"></i>
                  </a>
                  <a href="https://twitter.com/Subhoje53508662">
                    <i class="fab fa-twitter fa-2x"></i>
                  </a>
                  <a href="https://www.facebook.com/profile.php?id=100009350983908">
                    <i class="fab fa-facebook fa-2x"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
              <ul class="list-unstyled">
                <li>
                  <a class="nav-link" routerLink="/contact" routerLinkActive="itemActive">Contact</a>
                </li>
              </ul>
            </div>  
          </div>  
        </div>
        <div class="footer-copyright text-center py-3">© 2021 Copyright:
          <span>Subhojeet Bhattacharjee</span>
        </div>  
    </footer>
</div>
