<app-navbar></app-navbar>

<div class="about">
    <div class="container">
        <section class="about-me">
            <div class="title">
                <h1>About Me</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col col-md-6 col-lg-8 col-xs-12 col-sm-12">
                    <div class="text-box">
                        <h2>Full Stack Developer</h2>
                        <p>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis minus maiores repudiandae rem voluptates 
                            error quam! Rem vel, veniam molestiae quibusdam beatae recusandae dicta incidunt numquam. Nesciunt, ipsam? Eos, 
                            blanditiis?Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae praesentium eligendi dignissimos saepe 
                            ullam dolor inventore tenetur dolore magni rerum!
                        </p>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-4 col-xs-12 col-sm-12">
                    <div class="info-list">
                        <ul>
                            <li class="items">
                                <strong>
                                    <span>Age : </span>
                                </strong>
                                <span>21</span>
                            </li>
                            <li class="items">
                                <strong>
                                    <span>Residence : </span>
                                </strong>
                                <span>India</span>
                            </li>
                            <li class="items">
                                <strong>
                                    <span>Address : </span>
                                </strong>
                                <span>Jamshedpur, Jharkhand</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="my-services">
            <div class="title">
                <h2>My Services</h2>
            </div>
            <div class="row service-items">
                <div class="col col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="service-item">
                        <div class="icon">
                            <span class="fab fa-html5"></span>
                        </div>
                        <div class="name">
                            <span>Front-End</span>
                        </div>
                        <div class="desc">
                            <p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="service-item">
                        <div class="icon">
                            <span class="fas fa-code"></span>
                        </div>
                        <div class="name">
                            <span>Back-End</span>
                        </div>
                        <div class="desc">
                            <p>UI/UX focus on the user, frontend focus on the settings of the user, and backend focus on the data.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-md-6 col-lg-6 col-xs-12 col-sm-12">
                    <div class="service-item">
                        <div class="icon">
                            <span class="fab fa-wordpress-simple"></span>
                        </div>
                        <div class="name">
                            <span>Front-End</span>
                        </div>
                        <div class="desc">
                            <p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
                        </div>
                    </div>
                </div>
                <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                    <div class="service-item">
                        <div class="icon">
                            <span class="fas fa-server"></span>
                        </div>
                        <div class="name">
                            <span>Front-End</span>
                        </div>
                        <div class="desc">
                            <p>Modern and mobile-ready website that will help you reach all of your marketing.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> 
        <section class="fun-facts">
            <div class="title">
                <h2>Fun Facts</h2>
            </div>
            <div class="row fuct-items">
                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon">
                            <span class="fa fa-music"></span>
                        </div>
                        <div class="name">
                            <span>80 Albumes Listened</span>
                        </div>
                    </div>
                </div>
                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon">
                            <span class="fa fa-trophy"></span>
                        </div>
                        <div class="name">
                            <span>15 Awards Won</span>
                        </div>
                    </div>
                </div>
                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon">
                            <span class="fa fa-coffee"></span>
                        </div>
                        <div class="name">
                            <span> 1 000 Cups Of Coffee </span>
                        </div>
                    </div>
                </div>
                <div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon">
                            <span class="fa fa-flag"></span>
                        </div>
                        <div class="name">
                            <span> 10 Countries Visited </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>       
    </div>
</div>

<app-footer></app-footer>
