<app-navbar></app-navbar>

<div class="projects">
    <div class="container">
        <div class="title">
            <h2>Projects</h2>
            <hr>
        </div>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="box">
                            <div class="content text-center">
                                <div class="image">
                                    <a href="https://swasthify.netlify.app/home" class="has-popup-link" target="_blank">
                                        <img src="../../assets/images/Swasthifi-logo.png" alt="" loading="lazy" />
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="https://swasthify.netlify.app/home" class="name has-popup-link">Swasthify</a>
                                    <div class="category">Link</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="box">
                            <div class="content text-center">
                                <div class="image">
                                    <a href="https://github.com/Subho0710/Private-Messaging-Application2" class="has-popup-link" target="_blank">
                                        <img src="../../assets/images/PAS-logo.png" alt="" loading="lazy" />
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="https://github.com/Subho0710/Private-Messaging-Application2" class="name has-popup-link">Private Messaging Application</a>
                                    <div class="category">Github Repository</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <div class="card">
                        <div class="box">
                            <div class="content text-center">
                                <div class="image">
                                    <a href="#" class="has-popup-link" target="_blank">
                                        <img src="../../assets/images/networking-logo.jpg" alt="" loading="lazy" />
                                    </a>
                                </div>
                                <div class="desc">
                                    <a href="#" class="name has-popup-link">Radio Multicasting over IP</a>
                                    <div class="category">Link</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>