<app-navbar></app-navbar>

<div class="contact">
    <div class="container">
        <div class="info">
            <div class="title">
                <h2>Get in Touch</h2>
                <hr>
            </div>
            <div class="row">
                <div class="col col-md-12 d-flex align-items-stretch">
                    <div class="map">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14711.126392347847!2d86.1460635774058!3d22.81055521097168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f5e4f54b3f9489%3A0xbd24064bf3a96e86!2sUliyan%2C%20Jamshedpur%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1633164429869!5m2!1sen!2sin" title="%3$s" aria-label="%3$s"></iframe>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 d-flex align-items-stretch">
                    <div class="info-list">
                        <ul>
                            <li>
                                <strong>
                                    <i class="fas fa-house-user"></i>
                                    <span>Address : </span>
                                </strong>
                                <span>Jamshedpur, Jharkhand, India</span>
                            </li>
                            <li>
                                <strong>
                                    <i class="fas fa-house-user"></i>
                                    <span>Email : </span>
                                </strong>
                                <span>sojol2000@gmail.com</span>
                            </li>
                            <li>
                                <strong>
                                    <i class="fas fa-house-user"></i>
                                    <span>Social : </span>
                                </strong>
                                <div class="social">
                                    <a href="https://github.com/Subho0710">
                                        <i class="fab fa-github"></i>
                                    </a>
                                    <a href="https://twitter.com/Subhoje53508662">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="https://www.facebook.com/profile.php?id=100009350983908">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <strong>
                                    <i class="fas fa-house-user"></i>
                                    <span>Phone : </span>
                                </strong>
                                <span>+91 9122797288</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <form class="contact-form">
            <div class="row">
                <div class="col col-md-6 d-flex align-items-stretch first form-group">
                    <input type="text" name="name" class="form-control" placeholder="Full Name">
                </div>
                <div class="col col-md-6 d-flex align-items-stretch second form-group">
                    <input type="email" name="email" class="form-control" placeholder="E-mail">
                </div>
            </div>
            <div class="row">
                <div class="col col-md-4 col-lg-4 col-xs-12 col-sm-6 form-group">
                    <label>Message Type</label>
                    <select class="form-control">
                        <option value="complain">Complain</option>
                        <option value="suggetsion">Suggestion</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col col-md-12 col-lg-12 col-xs-12 col-sm-12 form-group">
                    <textarea name="message" class="form-control" cols="40" rows="5" placeholder="Your Message"></textarea>
                </div>
                <div class=" submit text-center">
                    <button type="submit" class="btn btn-primary">
                        <span>Send Message</span>
                        <i class="fas fa-paper-plane"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<app-footer></app-footer>
