<app-navbar></app-navbar>

<div class="resume">
    <div class="container">
        <div class="container resume">
            <div class="title">
                <h2>Resume</h2>
            </div>
            <div class="container resume-content">
                <div class="sub-title">
                    <div class="icon">
                        <span class="fa fa-university"></span>
                    </div>
                    <div class="name">
                        <span>Education</span>
                    </div>
                </div>
                <div class="resume-items">
                    <div class="resume-item border-line-h ">
                        <div class="image"></div>
                        <div class="date">
                            <span>2017-2019</span>
                        </div>
                        <div class="name">
                            <span>SRM</span>
                        </div>
                        <div class="company">
                            <span>Chennai, India</span>
                        </div>
                        <div class="single-post-text">
                            <div>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resume-items">
                    <div class="resume-item border-line-h ">
                        <div class="image"></div>
                        <div class="date">
                            <span>2017-2019</span>
                        </div>
                        <div class="name">
                            <span>SRM</span>
                        </div>
                        <div class="company">
                            <span>Chennai, India</span>
                        </div>
                        <div class="single-post-text">
                            <div>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="resume-items">
                    <div class="resume-item border-line-h ">
                        <div class="image"></div>
                        <div class="date">
                            <span>2017-2019</span>
                        </div>
                        <div class="name">
                            <span>SRM</span>
                        </div>
                        <div class="company">
                            <span>Chennai, India</span>
                        </div>
                        <div class="single-post-text">
                            <div>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container skills">
            <div class="title">
                <h2>Skills</h2>
            </div>
            <div class="skills-content elementor-container elementor-column-gap-no">
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-552e9ac col">
                    <div class="skills-item">
                        <div class="skills-list circles">
                            <div class="skill-title border-line-h">
                                <div class="icon">
                                    <i class="fa fa-code"></i>
                                </div>
                                <div class="name">
                                    <span>Coding</span>
                                </div>
                            </div>
                            <ul>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span>MYSQL</span>
                                    </div>
                                    <div class="progress p90">
                                        <div class="precentage" style="width: 90%;"></div>
                                        <span>90%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span>MYSQL</span>
                                    </div>
                                    <div class="progress p90">
                                        <div class="precentage" style="width: 80%;"></div>
                                        <span>80%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span>MYSQL</span>
                                    </div>
                                    <div class="progress p90">
                                        <div class="precentage" style="width: 85%;"></div>
                                        <span>85%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span>MYSQL</span>
                                    </div>
                                    <div class="progress p90">
                                        <div class="precentage" style="width: 95%;"></div>
                                        <span>95%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3238565 col border-line-v">
                    <div class="skills-item">
                        <div class="skills-list list">
                            <div class="skill-title border-line-h">
                                <div class="icon">
                                    <i class="fa fa-list"></i>
                                </div>
                                <div class="name">
                                    <span>Knowledge</span>
                                </div>
                            </div>
                            <ul>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> Microsoft Azure / AWS </span>
                                    </div>
                                    <div class="progress">
                                        <div class="precentage" style="width: %;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3238565 col border-line-v">
                    <div class="skills-item">
                        <div class="skills-list precent">
                            <div class="skill-title border-line-h">
                                <div class="icon">
                                    <i class="fa fa-paint-brush"></i>
                                </div>
                                <div class="name">
                                    <span>Front-End</span>
                                </div>
                            </div>
                            <ul>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> C# </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> C# </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> C# </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> C# </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3238565 col border-line-v">
                    <div class="skills-item">
                        <div class="skills-list dotted">
                            <div class="skill-title border-line-h">
                                <div class="icon">
                                    <i class="fa fa-flag"></i>
                                </div>
                                <div class="name">
                                    <span>Languages</span>
                                </div>
                            </div>
                            <ul>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> English </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> English </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> English </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                                <li class="border-line-h">
                                    <div class="name">
                                        <span> English </span>
                                    </div>
                                    <div class="progress ">
                                        <div class="percentage" style="width:90%;"></div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
