<app-navbar></app-navbar>

<div class="home">
    <div class="container">
        <div class="jumbotron text-center" id="top-section">
            <div class="container">
                <h2>Welcome to my Portfolio Website</h2>
                <hr>
                <br>
                <h3>My Name is </h3>
                <h1>Subhojeet Bhattacharjee</h1>
                <br>
                <a href="home/#profile" class="btn btn-primary">Read More</a>
            </div>
        </div>
        <div class="container">
            <h2>Introduction</h2>
            <hr>
            <div class="row align-items-center" id="profile">
                <div class="col-md-4 col-lg-4 col-xs-12 col-sm-12">
                    <div class="left">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto saepe dicta quaerat eaque 
                            quia rerum voluptatum deleniti nam, repellendus laboriosam.
                        </p>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-xs-12 col-sm-12">
                    <div class="right">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto saepe dicta quaerat eaque 
                            quia rerum voluptatum deleniti nam, repellendus laboriosam.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto saepe dicta quaerat eaque 
                            quia rerum voluptatum deleniti nam, repellendus laboriosam.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto saepe dicta quaerat eaque 
                            quia rerum voluptatum deleniti nam, repellendus laboriosam.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>